<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Счета</title>
    <style>
      table th, table td {padding: 5px;}
      .row  {
         font-style: italic;
      }
      .even-row {
         color: black;
      }
      .odd-row {
         color: black;
      }
    </style>
</head>
<body>
<header align="right"   th:insert="blocks/header :: header"></header>
<h1 align="center">Счета</h1>
<h4 align="center" th:text="${message}" ></h4>
<div class="container mt-5 mb-5">
    <form align="center" action="/cards/add">
        <button type="submit"  class="btn btn-success">Добавить счёт</button>
    </form>
</div>

    <table border="1" class="table" align="center">
        <tr>
            <th>Название</th>
            <th>Баланс</th>
            <th>Редактировать</th>
            <th>Перенести</th>
            <th>Удалить</th>
        </tr>
        <tr th:each="el, state : ${cards}"
            class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
            <td th:utext="${el.name}">Название</td>
            <td th:utext="${el.balance}">Баланс</td>
            <td>
                <a th:href="'/cards/edit/' + ${el.id}">Редактировать</a>
            </td>
            <td>
                <a th:href="'/cards/replace/' + ${el.id} + '/' + ${state.size}">Перенести</a>
            </td>
            <td>
                <a th:href="'/cards/delete/' + ${el.id} + '/' + ${state.size}">Удалить</a>
            </td>
        </tr>
    </table>
</body>
</html>