<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Статьи бюджета</title>
    <style>
      table th, table td {padding: 5px;}
      .row  {
         font-style: italic;
      }
      .even-row {
         color: black;
      }
      .odd-row {
         color: black;
      }
    </style>
</head>
<body>
<header align="right"   th:insert="blocks/header :: header"></header>
<h1 align="center">Статьи бюджета</h1>
<h4 align="center" th:text="${message}"></h4>
<div class="container mt-5 mb-5">
    <form align="center" action="/categories/add">
        <button type="submit"  class="btn btn-success">Добавить категорию</button>
    </form>
</div>
<table border="1" class="table" align="center">
    <tr>
        <th>Название</th>
        <th>Категория</th>
        <th>Редактировать</th>
        <th>Удалить</th>
    </tr>
    <tr th:each="el, state : ${categories}"
        class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <td th:utext="${el.name}">Название</td>
        <div th:if="${el.income}">
            <td th:utext="Доход">Категория</td>
        </div>
        <div th:unless="${el.income}">
            <td th:utext="Расход">Категория</td>
        </div>
        <td>
            <a th:href="'/categories/edit/' + ${el.id}">Редактировать</a>
        </td>
        <td>
            <a th:href="'/categories/delete/' + ${el.id} + '/' + ${state.size}">Удалить</a>
        </td>
    </tr>
</table>

</body>
</html>