<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Счета</title>
    <style>
      table th, table td {padding: 5px;}
      .row  {
         font-style: italic;
      }
      .even-row {
         color: black;
      }
      .odd-row {
         color: black;
      }
    </style>
</head>
<body>
<header align="right"   th:insert="blocks/header :: header"></header>
<h1 align="center">Журнал</h1>
<div class="container mt-5 mb-5">
    <form align="center" action="/journal/add">
        <button type="submit"  class="btn btn-success">Добавить запись</button>
    </form>
</div>
<table border="1" class="table" align="center">
    <tr>
        <th>Сумма</th>
        <th>Название</th>
        <th>Дата</th>
        <th>Редактировать</th>
        <th>Удалить</th>
    </tr>
    <tr th:each="el, state : ${journal}"
        class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">

        <div th:if="${el.inOutMoney}">
            <td th:utext="'+' + ${el.amount}">Сумма</td>
        </div>
        <div th:unless="${el.inOutMoney}">
            <td th:utext="'-' + ${el.amount}">Сумма</td>
        </div>
        <td th:utext="${el.purchase}">Название</td>
        <td th:utext="${el.date}">Дата</td>
        <td>
            <a th:href="'/journal/edit/' + ${el.id}">Редактировать</a>
        </td>
        <td>
            <a th:href="'/journal/delete/' + ${el.id}">Удалить</a>
        </td>
    </tr>
</table>
</body>
</html>